


@media only screen and (max-width: 900px) and (min-width: 350px)  {
  
  .chart-size{
    padding: 0;
    margin-left: 0;
    margin-bottom: 0px;
  }
  .export-size{
    padding: 10px;
    
  }
 
  

}

@media only screen and (max-width:640px) and (min-width:350px) {
    .button-size{
        margin-top: 20px;
    }
}

